.experiencia {
  max-width: 75rem; /*1200px*/
  padding: 2.5rem 1.25; /*40px 20px*/
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem; /*24px*/
  line-height: 1.33;
  max-width: 40ch; /*ao aumentar a página fica travado com 40 caracter*/
  margin-bottom: 3.75rem; /*60px*/
  color: #525252;
}
.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem; /*16px*/
  padding: 1.25rem; /*20px*/
  background: #f5f5f5;
  margin-bottom: 1.25rem; /*20px*/
  border-radius: 5px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  background: linear-gradient(#b6f829, #67dd0a);
  width: 4px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -50px;
  color: #525252;
  font-size: 0.875rem; /*14px*/
}

.empresa-titulo {
  font-size: 1.125rem; /*18px*/
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem; /*14px*/
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem; /*14px*/
  line-height: 1.4;
  background: linear-gradient(#b6f829, #67dd0a);
  padding: 5px 10px;
}

/*--------------------Reponsivo-----------------------------*/

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    background: linear-gradient(90deg, #b6f829, #67dd0a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .empresa-ano {
    position: initial;
    width: inherit;
    font-weight: bold;
  }

  .experiencia-texto {
    font-size: 1.25rem; /*20px*/
  }

  .empresa::before {
    content: "";
    display: block;
    background: linear-gradient(#b6f829, #67dd0a);
    width: 4px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 10px;
  }
}

/*--------------------Reponsivo-----------------------------*/
@media (max-width: 400px), (max-width: 700px) {
  .empresa {
    grid-template-columns: 1fr;
  }

  .empresa::before {
    content: "";
    display: block;
    background: linear-gradient(#b6f829, #67dd0a);
    width: 4px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 10px;
  }

  .empresa-ano {
    position: initial;
    width: inherit;
    font-weight: bold;
  }

  .experiencia-texto {
    margin: 0 18px; /* centraliza o bloco na página */
    text-align: left; /* texto alinhado à esquerda */
  }
}
