.footer {
  background: #000000;
}

.footer-container {
  max-width: 75rem; /*1200px*/
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #cccccc;
  margin-bottom: 15px;
}

.footer-contato li a {
  background: linear-gradient(#b6f829, #67dd0a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.footer-copy {
  background: linear-gradient(#b6f829, #67dd0a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.125rem;
  grid-column: 1 / -1;
}

.footer {
  position: relative;
  z-index: 0; /* base */
}

.footer::before {
  content: "";
  position: absolute;
  top: -65px;
  left: 60px;
  width: 130px;
  height: 130px;
  background: url("../img/detalhe.svg") no-repeat center/contain;
  pointer-events: none; /* evita interações */
  z-index: 0; /* atrás do conteúdo da footer */
}

/* garante que o texto fique acima do detalhe */
.footer p {
  position: relative;
  z-index: 1;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }

  .footer::before {
  content: "";
  position: absolute;
  top: -65px;
  left: 60px;
  width: 60px;
  height: 130px;
  background: url("../img/detalhe.svg") no-repeat center/contain;
  pointer-events: none; /* evita interações */
  z-index: 0; /* atrás do conteúdo da footer */
}
}

@media (max-width: 450px) {
  .footer-contato li {
    font-size: 1rem;
  }
  .footer-texto {
    font-size: 1.1rem;
  }
}
