.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /*alinha ao center vertical*/
  padding: 2.5rem 1.25rem; /*40px 20px*/
  max-width: 75rem; /*1200px*/
  margin: 0px auto; /*deixando os elementos header ao centro*/
}

.header-menu {
  display: flex;
  gap: 0.625rem; /*10px*/
  flex-wrap: wrap;
}

.header-menu li a {
  text-decoration: none;
  font-size: 1.125rem; /*18px*/
  line-height: 1.3;
  padding: 0.625rem 1.125rem; /*10px 18px */
  color: #141414;
  display: block;
  border: 2px solid transparent;
  transition: border 0.6s, color 0.6s;
}
.header-menu li a:hover {
  content: "";
  border-bottom: 2px solid #141414;
}

/*Abaixo de 700px*/
@media (max-width: 700px) {
  .header {
    flex-direction: column;
    gap: 2.5rem;/*40px*/
    padding: 1.25rem;/*20px*/
  }

  .header-menu li a{
    background: #f5f5f5;
    border-top: 1px solid #141414;
    border-radius: 6px;
  }

  .header-menu {
    justify-content: center;
  }
}

@media(max-width:400px){
  .header-imagem{
    width: 50%;
  }
}