.introducao {
  max-width: 75rem; /*1200px*/
  padding: 2.5rem 1.25rem; /*40px  20px */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem; /* 100px */
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem; /*72px*/
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  z-index: -1;
  top: -20px;
  left: -45px;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

/*menor que 1000px*/
@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}


.perfil-icone{
  font-size: 25px;
}
/*menor 800px*/
@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before{
    width: 40px;
    height: 22px;
    left: 0px;
  }
}

@media(max-width:400px){
  .introducao{
    grid-template-columns: 1fr;
  
    align-items: center;
  }

  .introducao div {
    margin: 0 auto;
  }

  .introducao p {
    font-size: 1rem;
  }
  .perfil-imagem {
    width: 50%;
    margin: 0 auto;
  }
  .perfil-formacao {
    place-self: center; 
  }
}

